nav {
  background-color: #9796f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto';
  color: white;
  margin: 0px;
}
nav div {
  display: flex;
}
nav div img {
  height: 75px;
}

nav div p {
  margin-left: 20px;
  font-weight: bold;
}
